<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsl.dao.JobMapper">
    <resultMap id="job" type="com.lsl.entity.Job"/>

    <select id="getJob" parameterType="String" resultMap="job">
        SELECT  * FROM job where jobCode = #{value}
    </select>
</mapper>